# Base
DATABASE_URL=postgresql://postgres:postgres@payment-db:5432/paymentdb
AUTH_SECRET_KEY=REEMPLAZA_CON_UN_SECRET_LARGO_Y_UNICO
JWT_ALGORITHM=HS256
STUDENT_SERVICE_URL=http://student_service:8000

# Wompi
WOMPI_ENV=sandbox
WOMPI_BASE_URL=https://sandbox.wompi.co/v1
WOMPI_PUBLIC_KEY=pub_test_xxxxxxxxxxxxxxxxxxxxx
WOMPI_PRIVATE_KEY=prv_test_xxxxxxxxxxxxxxxxxxxxx
WOMPI_EVENTS_SECRET=evt_test_xxxxxxxxxxxxxxxxxxxxx
WOMPI_INTEGRITY_SECRET=int_test_xxxxxxxxxxxxxxxxxxxxx

# Payment behavior
PAYMENT_LINK_REDIRECT_URL=http://localhost:8002/dashboard
PAYMENT_EXPIRATION_MINUTES=30
WOMPI_WEBHOOK_TOLERANCE_SECONDS=600
HTTP_TIMEOUT_SECONDS=15
LOG_LEVEL=INFO
